#login-wrapper>*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
#login-wrapper{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("https://images.unsplash.com/photo-1531646317777-0619c7c5d1d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrapper{
    background: linear-gradient(#ffffff,#ffffff,#ffffff);
    width: 350px;
    height: 480px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}
.primary-button{
    border-radius: 20px;
    padding: 10px 0;
    border: none;
    background-color: #000000;
    color: white;
    transition: 0.5s;
}
.primary-button:hover{
    background-color: #393939;
}
#is-on{
    display: none;
}
.signup-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}
.toggle-label{
    font-size: 2.3rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(127, 103, 107);;
    margin: 60px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    text-align: center;
    
}
.signup-wrapper>form>*{
    display: block;
}
input{
    box-sizing: border-box;
    margin:15px auto;
    margin-bottom: 16px;
    width: 75%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: 2px solid rgb(81, 62, 65);
    border-radius: 5px;
    padding:5px 10px;
    font-size: 16px;
}
select{
    margin:auto;
    border-radius: 5px;
    width: 35%;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(81, 62, 65);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.signup-wrapper .toggle-label{
    color:  rgb(0, 0, 0);
}
.login-wrapper .toggle-label{
    color: rgb(71, 71, 71);
}
input[type="submit"]{
    width: 35%;
    letter-spacing: 1px;
    cursor: pointer;
}
.login-wrapper{
    height: 460px;
    background: linear-gradient(#ffd2d8,#ffd5d9,#ffd9de);
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: 0.2s ease-in-out;

}
.login-wrapper .toggle-label{
    transform: scale(0.6);
}
#is-on:checked ~ .login-wrapper{
    transform: translateY(-500px);
    
}
#is-on:checked ~ .signup-wrapper .toggle-label{
    transform: scale(0.6);
    color: rgb(71, 71, 71);
}
#is-on:checked ~ .login-wrapper .toggle-label{
    transform: scale(1);
    color: rgb(0, 0, 0);
}